body {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--colorGray-800);
  backdrop-filter: blur(24px);
  padding: 0 1.2rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 2.8rem 0;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 1px solid var(--colorGray-600);
}

.nav li {
  text-decoration: none;
  list-style: none;
}
.nav li a {
  color: var(--white);
  transform: 0.2s;
  font-weight: bolder;
}
.nav li a:hover {
  color: var(--colorGreen-700);
}
.logo {
  font-family: var(--Titles);
  font-weight: bold;
  font-size: 1.5rem;
}

.menuDesktop {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.hidden,
.buttonMobile {
  display: none;
}
.buttonMobile {
  font-size: 3rem;
  color: var(--colorGreen-700);
  border: none;
  background: transparent;
}
.menuMobile {
  position: fixed;
  top: 150px;
  left: 0;
  background-color: var(--colorGray-800);
  width: 100%;
  height: 100vh;
  text-align: left;
  z-index: 5;
  overflow: hidden;
}
.menuMobile:active {
}
.menuMobile li {
  padding: 1rem 2rem;
  border-top: 0.2px solid var(--colorGray-600);
  transition: 0.2s;
}
.close {
  display: none;
}
@media (max-width: 800px) {
  .menuDesktop {
    display: none;
  }
  .buttonMobile {
    display: flex;
    margin-right: 1rem;
  }
  .nav {
    margin: 1rem;
    padding-bottom: 0;
    border-bottom: 1px solid var(--colorGray-600);
  }
  .menuMobile li a {
    color: var(--white) !important;
  }
  .close {
    display: inline;
  }
}
