* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --white: #fff;
  --colorGray-100: #fbfbfb;
  --colorGray-200: #d1d1d1;
  --colorGray-600: #4d4d4d;
  --colorGray-800: #272727;
  --colorBlue-800: #323443;
  --colorGreen-700: #3bf686;
  --Titles: "Poppins", sans-serif;
  --paragraph: "Inter", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--colorGray-800);
  color: #fff;
}
.page {
  max-width: 1280px;
  margin: auto;
}

h1,
h2,
h4 {
  font-family: var(--paragraph);
  color: var(--white);
}
button,
input,
p,
a {
  font-family: var(--paragraph);
}

.iconWhatssap {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 3rem;
  color: var(--colorGray-800);
  background: linear-gradient(
    346deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(22, 238, 108) 0%,
    rgb(14, 226, 156) 0%,
    rgb(22, 238, 108) 0%
  );
  border-radius: 50%;
  padding: 0.6rem;
  cursor: pointer;
  transition: 0.4s;
}
.iconWhatssap:hover {
  font-size: 3rem;
  background: linear-gradient(
    346deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(5, 228, 94) 0%,
    rgb(7, 231, 157) 0%,
    rgb(5, 228, 94) 0%
  );
}
